.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin: 0 auto;
}

.title span {
  color: var(--main-color);
  text-decoration: none;
}

.title span strong {
  color: var(--accent-color);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  animation: fadeIn 2s linear, titleMove 1s ease forwards;
  animation-delay: 0s, 2s;
  margin-bottom: -200px;
  margin-top: -200px;
}

@media (min-width: 768px) {
  .title {
    font-size: 4rem;
    text-align: center;
  }
}

.form {
  margin-top: 40px;
  animation: fadeIn 0.5s linear forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes buttonFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes titleMove {
  from {
    margin-bottom: -200px;
  }

  to {
    margin-bottom: 0px;
  }
}